.main {
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    background-color: goldenrod;
    padding: 100px;
}

.header {
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    background-color: darkseagreen;
    color: beige;
    padding: 100px 0;
}

.footer {
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    background-color: lightslategray;
    color: #fff;
    padding: 100px;
}
